# Laboratorio: Deteccion Anomalias

Nancy Patricia Girón Muñoz

Importando paquetes

In [1]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import pandas as pd
from scipy.stats import norm

Importando la data.

In [2]:
dataset = pd.read_csv('estaturas - normales.csv')

Obtenemos la informacion del dataset, para darnos una idea de los datos y tipo de datos.

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 2 columns):
Estatura    21 non-null float64
Edad        21 non-null int64
dtypes: float64(1), int64(1)
memory usage: 416.0 bytes

Debido a que utilizaremos la edad de la persona, sustituimos los valores que contienen NAs.

In [4]:
dataset.Edad = dataset.Edad.fillna(dataset.Edad.mean())
dataset.tail()

    Estatura  Edad
16      1.70    26
17      1.57    25
18      1.66    26
19      1.75    27
20      1.77    32

In [5]:
m_1 = np.mean(dataset.iloc[:,0])
m_2 = np.mean(dataset.iloc[:,1])

a1 = np.var(dataset.iloc[:,0])
a2 = np.var(dataset.iloc[:,1])

Cargamos data de prueba.

In [6]:
prueba = pd.read_csv('Prueba.csv')
prueba

    Estatura  Edad
0     140.00    26
1      24.00    31
2      32.20    24
3       1.78    34
4       1.65    32
5       1.66    29
6     432.30    27
7      32.10    34
8      42.30    26
9       1.75    21
10     43.30    23
11     33.20    25
12      1.82    24
13      1.65    25

Funcion que determina las anomalias.

In [19]:
def detectorAnomalias(dataset,e):
    pnorm = norm.pdf(dataset.iloc[:,0],m_1,a1)*norm.pdf(dataset.iloc[:,1],m_2,a2)
    for i in pnorm:
        if i < e:
            print("Existe anomalía")
        else:
            print("No existe anomalía")

In [20]:
detectorAnomalias(prueba,0.003)

Existe anomalía
Existe anomalía
Existe anomalía
Existe anomalía
Existe anomalía
Existe anomalía
Existe anomalía
Existe anomalía
Existe anomalía
Existe anomalía
Existe anomalía
Existe anomalía
Existe anomalía
Existe anomalía